* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
    max-width: 100%;
}


/* HEADER */

header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: white;
    padding: 0 15px;
}

.container-full {
    width: 100%;
    height: 60px;
    
}

nav > a {
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

nav > img {
    margin-right: 15px;
}
    

/* Jumbotrom */

.jumbotrom {
   
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
    
      
}


.jumbotrom p {
    margin: 40px 0;
}

.first-titol {
    
    font-size: 80px;
    margin-bottom: 40px;
}

.button-top {
    padding: 5px;
    background-color: blue;
    color: white;
}

.y {
    width: 30%;
}

.z {
    width: 70%;
}

.icon {
    font-size: 64px;
    margin-top: auto;
}

/* MAIN */
.container-main {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

/* 1 SECTION */

main h1 {
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.radio {
    margin-right: 20px;
}


.card {
    width: calc(100% - 600px);
    min-height: 1000px;
    border: 1px solid lightgray;
    
}

.card-size {
    margin: 30px 20px;
}

.card-size h2 {
    margin-bottom: 25px;
}

.card-size > p {
    margin-bottom: 25px;
    color: gray;
}

.card-size button {
    padding: 8px 35px;
    color: white;
    background-color: #0161ff;
    margin-top: 25px;
    margin-bottom: 30px;
    
}

main i {
    margin-right: 5px;
}

.card-orizontal {
    width: 900px;
    height: 250px;
    border: 1px solid lightgray;
    margin-top: 40px;
    
}

.card-orizontal p {
    margin: 15px 0;
}


.col-sx {
    width: 70%;
    height: 300px;

}

.col-dx {
    width: 30%;
    height: 300px;

}

.col-sx h2, h5 {
    padding-top: 15px;
    padding-left: 15px;
}

.col-sx p {
    padding-top: 40px;
    padding-left: 15px;
}

.col-dx button {
    padding: 8px 35px;
    color: white;
    background-color: #0161ff;
    margin-top: 25px;
    margin-bottom: 30px;
}

/* 2 section */

.col-img {
    width: 60%;
    max-height: 500px;
}

.col-text {
    width: 40%;
    max-height: 500px;
    padding: 25px 35px;
}

.col-text p {
    margin: 25px 0;
}

.col-text button {
    padding: 10px 15px;
    font-size: larger;
    background-color: white;
    color: gray;
}

/* 3 SECTION */

.box {
    width: calc(100% / 3);
    max-height: 500px;
}

.box h2 {
    margin: 25px 0;
}

.box p {
    margin-bottom: 70px;
}

/* SECTION LOGHI */

.container-loghi {
    width: 100%;
    height: 400px;
   
}

.loghi {
    height: 100%;
    width: calc(100% / 3);
    background-color: tomato;
}

.loghi-center {
    height: 100%;
    width: calc(100% / 3);
    background-color: blue;
}

.logo {
    width: calc(100% / 2);
    height: calc(100% / 2);
    background-color: bisque;
}

svg {
    max-width: 100%;
    max-height: 100%;
    color: white;
}

/* UTILI */
.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap ;
}

.space-between {
    justify-content: space-between;
    align-items: center;
}

.bg-aqua {
    background-color: #b4d0e7;
}

.bg-green {
    background-color: #a2d39b;
}

.bg-purple {
    background-color: #62092b;
}

.bg-blue {
    background-color: #0093ce;
}

.bg-red {
    background-color: #ff1b1c;
}

.gap {
    gap: 40px;
    margin-top: 50px;
}

.utente {
    text-align: center;
    margin: 10px 0;
}

.margin-extra {
    margin-top: 40px;
    margin-bottom: 25px;

}

.margin-top {
    margin-top: 150px;
}

.margin-bottom {
    margin-bottom: 80px;
}

.color-blue {
    color: blue;
}

.text-center {
    text-align: center;
}

.line-height {
    line-height: 1.3;
}